body {

    background-image: url("https://media2.giphy.com/media/I7V6Te1Ka0U00/source.gif");
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height:100%;
  }
.input-group{
  padding:10px;
}
  